#price-slider-aside .noUi-connect,
#price-slider-modal .noUi-connect {
  background-color: black;
}

#price-slider-aside .noUi-handle,
#price-slider-modal .noUi-handle {
  border-radius: 50%;
}

#price-slider-aside .noUi-tooltip,
#price-slider-modal .noUi-tooltip {
  bottom: unset;
  top: 120%;
}

#price-slider-modal,
#filter-modal {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

#price-slider-modal,
#filter-modal:not(.hidden) {
  transform: translateY(0);
}
